<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.CanRegisteredMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.CanRegistered">
        <id column="id" property="id" />
        <result column="registered" property="registered" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        registered, id
    </sql>

    <update id="CanRegistered">
        update can_registered set registered = #{canOrNot} where id =1
    </update>

</mapper>
