<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.MailtbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Mailtb">
        <id column="id" property="id" />
        <result column="fromaddress" property="fromaddress" />
        <result column="frompassword" property="frompassword" />
        <result column="toaddress" property="toaddress" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fromaddress, frompassword, toaddress
    </sql>

</mapper>
