<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Menu">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <resultMap id="MenusWithRoles" type="com.example.server.pojo.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="com.example.server.pojo.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, url, del_flag
    </sql>

    <select id="getMenusWithRole" resultMap="MenusWithRoles">
        select m.*,
               r.id     as rid,
               r.name   as rname,
               r.nameZh as rnameZh
        from menu m,
             menu_role mr,
             role r
        where m.id = mr.mid
          and mr.rid = r.id
        order by m.id;
    </select>

</mapper>
