<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Orders">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="datetime" property="datetime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, datetime, del_flag
    </sql>

    <select id="showOrders" resultType="map">
        select DISTINCT
            orders.id as oid,
            usr.id as uid,
            usr.username as uname,
            usr.email as email,
            orderitem.number as number,
            product.id as pid,
            product.productname as pname
        from
            orders,
            orderitem,
            product,
            usr
        where
            orders.id = orderitem.oid
          and
            orderitem.pid = product.id
          and
            orders.uid = usr.id
          and
            orders.del_flag = 0
    </select>

</mapper>
