<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.UsrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Usr">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="companyname" property="companyname" />
        <result column="city" property="city" />
        <result column="job" property="job" />
        <result column="tel" property="tel" />
        <result column="email" property="email" />
        <result column="country" property="country" />
        <result column="zip" property="zip" />
        <result column="companyaddress" property="companyaddress" />
        <result column="note" property="note" />
        <result column="fullname" property="fullname" />
        <result column="title" property="title" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, companyname, city, job, tel, email, country, zip, companyaddress, note, fullname, title, del_flag
    </sql>

    <select id="getAdminByUserName" resultType="com.example.server.pojo.Usr">
        select
        <include refid="Base_Column_List"/>
        from usr where username = #{username} and del_flag = 0
    </select>
    <select id="getIdByUserName" resultType="integer">
        select usr.id
        from usr
        where username = #{username} and del_flag = 0
    </select>

    <select id="selectAll" resultType="java.util.Map">
        select *
        from usr
    </select>


</mapper>
